/* Main CSS */

body {
    background-color: #3E4EA4;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}

a {
    color: inherit;
}

a:active, a:hover {
    color: white;
    text-decoration: none;
}

/* Navigation */

.navbar {
    min-height: 70px;
    margin-bottom: 0;
    width: 100vw;
}

.navbar .container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70px;
}

.navbar-default {
    background-color: #3E4EA4;
    color: #FD6591;
    border: none;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-default .navbar-brand {
    color: #FD6591;
}

.navbar-header {
    display: inline-block;
    height: 70px;
}

.navbar-right {
    float: right;
    text-align: right;
}

.navbar-default .navbar-brand:active, .navbar-default .navbar-brand:hover {
    color: white;
    outline: none;
}

@media (min-width: 768px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

/* Menu */

#menuList {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: #3E4EA4;
    color: white;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 5vh;
    z-index: 9997;
}

#menuList h1 {
    padding-bottom: 2vh;
    color: #FD6591;
}

#menuList li:active,  #menuList li:hover {
    color: #FD6591;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5vh;
    padding-right: calc(5vw + 20px);
    font-size: 18px;
    z-index: 9999;
}

#close:active, #close:hover {
    color: #FD6591;
    outline: none;
}

#menuList li #about-li:active, #menuList li #about-li:hover {
    color: white;
    outline: none;
}

#about {
    position: absolute;
    text-align: justify;
    top: 0;
    color: #FD6591;
    background-color: #3E4EA4;
    font-size: 16px;
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw; 
    padding-top: 15vh;
    padding-bottom: 2vh;
    margin: 0 auto;
    z-index: 9998;
}

#about > p:nth-child(2) {
    margin-bottom: 0;
}

#about > p:nth-child(5) {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #about {
        padding-left: 15vw;
        padding-right: 15vw; 
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) {
    #about {
        padding-top: 20vh;
        padding-left: 25vw;
        padding-right: 25vw; 
        font-size: 20px;
    }
}
  
@media screen and (min-width: 1200px) {
    #about {
        font-size: 24px; 
    }
}

/* Google Maps Style */

.map {
    padding-top: 70px;
    width: 90vw;
}

.display {
    min-height: 60vh;
    margin-bottom: 70px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
}

.gm-style-iw p {
    font-size: 12px !important;
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase !important;
    color: #3E4EA4 !important;
    margin: 0 auto !important;
    text-align: left !important;
}

.gm-style-iw p:nth-child(1) {
    color: #FD6591 !important;
    font-size: 14px !important;
    border-bottom: 2px solid #3E4EA4;
}

.gm-style-iw p:nth-child(3) {
    border-bottom: 2px solid #3E4EA4;
}

/* Bootstrap button overwrite */

.row button {
    font-weight: 500;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    outline: none;
}

.padding .spot {
    width: 180px;
}

.padding {
    padding-bottom: 25px;
}

.btn-default {
    color: #3E4EA4;
    background-color: #FD6591;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    transition: all .1s ease-in-out;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default:active:focus, .btn-default:active:hover {
    color: white;
    background-color: transparent;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    -moz-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    transform: scale(1.05);
}

.btn:active:focus, .btn:focus {
    color: white;
    background-color: transparent;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    -moz-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    transform: scale(1.05);
}

.btn-lg {
    font-size: 25px;
    padding: 0;
    margin: 0 auto;
}

.btn {
    border: 4px;
    border-style: none;
    padding: 0;
    font-size: 20px;
}

/* Forecast cards style */

.title {
    padding-bottom: 50px;
    color: white;
}

.title p {
    color: #FD6591;
    border-bottom: 1px solid#FD6591;
    display: inline;
}

.title p:active, .title p:hover {
    color: white;
    border: none;
}

.card {
    border-radius: 10px;
    background-color: #FD6591;
    color: #3E4EA4;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    margin: 5vw;
    height: 250px;
    width: calc(100% - 10vw);
}

.details {
    width: 100%;
    margin: 0 auto;
}

.desc {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.desc h3 {
    font-size: 18px;
    line-height: 12px;
    margin-bottom: 2px;
}

.desc p {
    font-size: 10px;
    margin-bottom: 0;
}

.values {
    font-size: 56px;
    line-height: 70px;
}
        
.values p {
    margin-bottom: 0;
    margin-top: 10px;
}

.string {
    font-size: 24px;
    line-height: 80px;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.card .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width: 992px) {
    .card {
        width: calc(50% - 10vw);
    }
    .desc h3 {
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .desc p {
        font-size: 12px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .card {
    width: calc(33.33% - 10vw);
  }

  .card:last-of-type {
    width: calc(100% - 10vw) !important;
  }

  .col-xs-4 {
      padding-right: 0;
      padding-left: 0;
  }

    .desc h3 {
        font-size: 18px;
        line-height: 12px;
        margin-bottom: 2px;
    }

    .desc p {
        font-size: 10px;
        margin-bottom: 0;
    }
}

/* 3D Line Chart style */

path {
    stroke: #3E4EA4;
    stroke-width: 2;
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
  color: #3E4EA4;
}

.x.axis line, .y.axis line {
  stroke: #3E4EA4;
  opacity: 0.2;
}

.x.axis path, .y.axis path {
  display: none;
}

.label {
    fill: #3E4EA4;
    font-size: 12px;
}

/* Cursor */

#menu-n, #menu-e, #menu-s, #menu-w, #about-li, #goback, #go2back, #menu, #close, .nextDays, .today {
    cursor: pointer;
}