/* Main CSS */

body {
    background-color: #3E4EA4;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */

.navbar {
    min-height: 70px;
    margin-bottom: 0;
    width: 100vw;
    /* margin: 0 10vw; */
}

.navbar .container-fluid {
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70px;
}

.navbar-default {
    background-color: #3E4EA4;
    color: #FD6591;
    border: none;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-default .navbar-brand {
    color: #FD6591;
}

.navbar-default .navbar-toggle {
    transition: all .1s ease-in-out;
}

.navbar-default .navbar-toggle:focus > #bar02, .navbar-default .navbar-toggle:hover > #bar02 {
    transform: translate(-10px);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FD6591;
}

.navbar-header {
    display: inline-block;
    height: 70px;
}

.navbar-right {
    float: right;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    outline: none;
}

/* Menu */

#menuList {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #3E4EA4;
    color: white;
    top: 70px;
    left: 0;
    margin: 0 auto;
}

#menuList h1 {
    color: #FD6591
}

/* Google Map Style */

.map {
    padding-top: 70px;
    width: 90vw;
    margin: 0 5vw;
}

.display {
    min-height: 60vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
}

.gm-style-iw {
    /* width: 100px !important; */
    height: 150px !important;
}

#infoWindow {
    max-width: 100px;
    max-height: 100px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #3E4EA4;
}


/* Button Bootstrap overwrite */

.row button {
    font-weight: 500;
    width: 130px;
    height: 50px;
    margin: 0 auto;
    outline: none;
}

.padding .spot {
    width: 180px;
}

.padding {
    /* padding-top: 25px; */
    padding-bottom: 25px;
}

.btn-default {
    color: #3E4EA4;
    background-color: #FD6591;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    transition: all .1s ease-in-out;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default:active:focus, .btn-default:active:hover {
    color: white;
    background-color: transparent;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    -moz-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    transform: scale(1.05);
}

.btn:active:focus, .btn:focus {
    color: white;
    background-color: transparent;
    border-color: #FD6591;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    -moz-box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    box-shadow: 0px 25px 30px -5px rgba(253,101,145,.25);
    transform: scale(1.05);
}

.btn-lg {
    font-size: 25px;
    padding: 0;
    margin: 0 auto;
}

.btn {
    border: 4px;
    /* border-style: solid; */
    border-style: none;
    padding: 0;
    font-size: 20px;
}

/* #btn-n {
    border-style: none;
    border-top-style: solid;
}

#btn-e {
    border-style: none;
    border-right-style: solid;
}

#btn-w {
    border-style: none;
    border-left-style: solid;
}

#btn-s {
    border-style: none;
    border-bottom-style: solid;
} */

/* style overwrite  */

.mapButton {
    color: #FD6591;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* Forecast cards style */

.card {
    display: flex;
    /* float: none; */
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 250px;
    width: 75vw;
    /* vertical-align: middle; */
    border-radius: 10px;
    background-color: #FD6591;
    -webkit-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 20px 20px -5px rgba(0,0,0,0.25);
    transform: scale(1.06);
}

.title {
    padding-bottom: 10vh;
    color: white;
}

.card > .col-xs-12 {
    float: none;
    color: #3E4EA4;
} 

.day {
    height: 100%;
    padding: 0px;
    float: left;
}

.details {
    width: 100%;
    height: 40%;
    float: left;
}

.time-day {
  height: 20%;
}

.desc {
  font-size: 20px;
  line-height: 6px;
  padding-top: 20%;
}

.desc small {
  font-size: 55%;
  line-height: 12px;
}

.values {
  font-size: 72px;
  line-height: 60px;
}

.string {
  font-size: 36px;
  line-height: 60px;
}

@media screen and (max-width: 767px) {
    
    .desc {
      font-size: 16px;
      line-height: 10px;
      padding-top: 20%;
    }
    
    .desc small {
      font-size: 55%;
      line-height: 12px;
    }
    
    .values {
      font-size: 52px;
      line-height: 70px;
    }
        
    .string {
      font-size: 18px;
      line-height: 60px;
    }
}

/* 3D Line Chart style */

path {
    stroke: #3E4EA4;
    stroke-width: 2;
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
  color: #3E4EA4;
}

.x.axis line, .y.axis line {
  stroke: #3E4EA4;
  opacity: 0.2;
}

.x.axis path, .y.axis path {
  display: none;
}

#tides {
    position: relative;
    width: 70vw;
    display: flex;
    justify-content: center;
    /* width: 80%;
    padding-left: 5%;
    padding-right: 5%; */
}

.label {
    fill: #3E4EA4;
    font-size: 12px;
}